@{
    ViewBag.Title = "Home - Index";
}

<div class="jumbotron">
    <h1>Issue Tracker</h1>
    <p class="lead">Issue tracker is my personal issue/work tracker.</p>
</div>

<div class="row">
    
</div>