@model LocalIssueTracker.Models.IssueStatus
@using LocalIssueTracker.Models
@{var buttonClass = @Model == IssueStatus.Open ? "success" : "warning";}
<span class="btn btn-@buttonClass btn-xs">@Model.ToString()</span>